.buttonFiltri,
.buttonFiltri:active,
.buttonFiltri:focus {
  margin-bottom: 1rem;
  background-color: darkred !important;
}

.buttonFiltri:hover {
  background-color: #bb6984 !important;
}

.casella:checked {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.casella:focus {
  background-color: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  box-shadow: var(--primary-color) !important;
}
.casella:active {
  border-color: var(--primary-color) !important;
}
