.card {
  margin-bottom: 30px;
  box-shadow: 2px 6px 20px 0px rgba(255, 103, 103, 0.407);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.04);
}

.image {
  padding: 20px;
  max-width: 180px;
  margin: auto;
}

.title {
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
