.card {
  margin-bottom: 30px;
  height: 328px;
}

.image {
  padding: 20px;
  max-width: 180px;
  margin: auto;
}

.title {
  font-size: 1rem !important;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.type {
  margin-top: 20px;
}

.subtitle {
  margin-top: 30px;
  color: black !important;
  font-size: 20px !important;
}
