.card {
  height: 100%;
  box-shadow: 2px 6px 27px 0px rgba(255, 103, 103, 0.407);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.04);
}

.image {
  padding: 20px;
  max-width: 180px;
  margin: auto;
}

.title {
  color: black;
  font-weight: 600;
  font-size: 1rem !important;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.type {
  margin-top: 20px;
}

.subtitle {
  margin-top: 30px;
  color: black !important;
  font-size: 20px !important;
  font-style: italic;
}
