.btnhome {
  background-color: var(--primary-color) !important;
  max-width: 300px !important;
  border-color: var(--primary-color) !important;
}
.btnhome:hover {
  background-color: #bb6984 !important;
  border-color: #bb6984 !important;
}

.container {
  margin-top: 100px;
}

.heroimage {
  background: url("../../assets/images/heroimage.jpg") no-repeat center center
    scroll;
  min-height: 90vh;
  background-size: cover;
}

.h1 {
  font-family: "Baloo 2";
  color: var(--tertiary-color);
  text-shadow: 2px 2px 6px #2b0f0f;
}

.h3 {
  font-family: "Montserrat";
  font-weight: 800;
  color: var(--tertiary-color);
  text-shadow: 1px 0px 5px #000000a6;
}
