:root {
  --primary-color: #aa4465;
  --secondary-color: rgb(251, 191, 202);
  --tertiary-color: #ffeed6;
  --light-color: rgb(210, 191, 85);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  margin-top: 70px;
  font-family: "Lora", serif;
  background-color: #f7ecf0;
}

.card {
  color: #11070a;
  background-color: white;
}

.button {
  background-color: var(--light-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}
.text-tertiary {
  color: var(--tertiary-color) !important;
}
.text-light {
  color: var(--light-color);
}
