.btnhome {
  background-color: var(--primary-color) !important;
  max-width: 300px !important;
}

.container {
  margin-top: 100px;
}

.heroimage {
  background: linear-gradient(
      rgba(251, 191, 202, 0.2),
      rgba(251, 191, 202, 0.8)
    ),
    url("../../assets/images/documentazione.jpg") no-repeat center center scroll;
  height: 90vh;
  background-size: cover;
}

.h1 {
  color: #000000;
  font-style: italic;
  font-size: 80px;
  font-weight: 700;
}

@media screen and (max-width: 633px) {
  .h1 {
    font-size: 60px;
  }
}

.h3 {
  /* font-size: 22px; */
  color: #2c2c2c;
}
/* .x {
    background: linear-gradient(
      rgba(240, 147, 184, 0.071),
      rgba(220, 132, 185, 0.071)
    );
  } */
